<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <title>Ma Banque</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <header>
        <nav class="sticky-top py-3 mb-5 navbar bg-dark">
            <div class="container d-flex flex-row py-2 justify-content-between">
                <a th:href="@{/operations}">Operations</a>
                <a th:href="@{/comptes}">Comptes</a>
                <a th:href="@{/clients}">Clients</a>
            </div>
        </nav>
    </header>

    <section layout:fragment="content">

    </section>

    <footer>
        <div class="navbar-fixed-bottom">
            <small>Ma Banque - Copyright 2020</small>
        </div>
    </footer>
</body>
</html>